<!DOCTYPE html>
<html lang="en">

<head>
	{% load static %}
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<!-- set the Compatible of your site -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- set the page title -->
	<title>UrbanGreen</title>
	<!-- include the site Google Fonts stylesheet -->
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700%7CRoboto:300,400,500,700,900&display=swap" rel="stylesheet">
	<!-- include the site bootstrap stylesheet -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" >
	<!-- include the site fontawesome stylesheet -->
	<link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
	<!-- include the site stylesheet -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<!-- include theme plugins setting stylesheet -->
	<link rel="stylesheet" href="{% static 'css/plugins.css' %} ">
	<!-- include theme color setting stylesheet -->
	<link rel="stylesheet" href="{% static 'css/color.css' %}">
	<!-- include theme responsive setting stylesheet -->
	<link rel="stylesheet" href="{% static 'css/responsive.css' %} ">
</head>
<body>
	<!-- pageWrapper -->
	<div id="pageWrapper">
		<!-- header -->
		<header id="header" class="fixed-top" style="height:120px; width:100%; background-color:white;">
			<!-- headerHolderCol -->
<!--			<div class="headerHolderCol pt-lg-4 pb-lg-5 py-3">-->
<!--				<div class="container">-->
<!--					<div class="row">-->
<!--						<div class="col-12 col-sm-4">-->
<!--							<a href="javascript:void(0);" class="tel d-flex align-items-end"><i class="icon-call mr-2"></i>  Hotline: (602) 462 8889</a>-->
<!--						</div>-->
<!--						<div class="col-12 col-sm-4 text-center">-->
<!--							<span class="txt d-block">Welcome To Botanical Store</span>-->
<!--						</div>-->
<!--						<div class="col-12 col-sm-4">-->
							<!-- langListII -->
<!--							<ul class="nav nav-tabs langListII justify-content-end border-bottom-0">-->
<!--								<li class="dropdown">-->
<!--									<span>Currency: </span>-->
<!--									<a class="d-inline dropdown-toggle text-uppercase" data-toggle="dropdown" href="javascript:void(0);" role="button" aria-haspopup="true" aria-expanded="false">USD</a>-->
<!--									<div class="dropdown-menu text-uppercase pl-4 pr-4 border-0">-->
<!--										<a class="dropdown-item" href="javascript:void(0);">USD</a>-->
<!--										<a class="dropdown-item" href="javascript:void(0);">VND</a>-->
<!--										<a class="dropdown-item" href="javascript:void(0);">euro</a>-->
<!--									</div>-->
<!--								</li>-->
<!--								<li class="dropdown m-0">-->
<!--									<span>Languages: </span>-->
<!--									<a class="d-inline dropdown-toggle text-uppercase" data-toggle="dropdown" href="javascript:void(0);" role="button" aria-haspopup="true" aria-expanded="false">EN</a>-->
<!--									<div class="dropdown-menu pl-4 pr-4">-->
<!--										<a class="dropdown-item" href="javascript:void(0);">English</a>-->
<!--										<a class="dropdown-item" href="javascript:void(0);">Vietnamese</a>-->
<!--										<a class="dropdown-item" href="javascript:void(0);">French</a>-->
<!--									</div>-->
<!--								</li>-->
<!--							</ul>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
			<!-- headerHolder -->

			<div class="headerHolder container pt-lg-5 pb-lg-7 py-4 ">
				<div class="row">
					<div class="col-6 col-sm-2">
						<!-- mainLogo -->
						<div class="logo">
							<a href="{% url 'home' %}"><span><img src="{% static 'images/logo.png' %}" width="90px" height="90px" alt="Botanical" class="img-fluid"></span></a>
						</div>
					</div>
					<div class="col-6 col-sm-7 col-lg-8 static-block">
						<!--div class="row justify-content-center"-->
							<!-- mainHolder -->
						<div class="mainHolder pt-lg-5 pt-3 justify-content-center">
							<!-- pageNav2 -->
							<nav class="navbar navbar-expand-lg navbar-light p-0 pageNav2 position-static" style="padding:15px;">
								<button type="button" class="navbar-toggle collapsed position-relative"  data-toggle="collapse" data-target="#navbarNav" aria-expanded="false">
									<span class="sr-only">Toggle navigation</span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
								<div class="collapse navbar-collapse" id="navbarNav">
									<ul class="navbar-nav mx-auto text-uppercase d-inline-block">
<!--										<li class="nav-item active dropdown">-->
<!--											<a class="dropdown-toggle d-block" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">home</a>-->
<!--											<ul class="list-unstyled text-capitalize dropdown-menu mt-0 py-0">&ndash;&gt;-->
<!--												<li class="d-block mx-0"><a href="home.html">Home 1</a></li>&ndash;&gt;-->
<!--												<li class="d-block mx-0"><a href="home2.html">Home 2</a></li>&ndash;&gt;-->
<!--												<li class="d-block mx-0"><a href="home3.html">Home 3</a></li>&ndash;&gt;-->
<!--											</ul>-->
<!--										</li>-->
<!--										<li class="nav-item dropdown">-->
<!--											<a class="dropdown-toggle d-block" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Store</a>-->
<!--											<ul class="list-unstyled text-capitalize dropdown-menu mt-0 py-0">-->
<!--												<li class="d-block mx-0"><a href="{% url 'shop' %}">Shop Left Sidebar</a></li>-->
<!--												<li class="d-block mx-0"><a href="{% url 'shop-detail' %}">Single Product</a></li>-->
<!--											</ul>-->
<!--										</li>-->

<!--										<li class="nav-item">-->
<!--											<a class="d-block" href="{% url 'shop' %}">Store</a>-->
<!--										</li>-->
<!--										<li class="nav-item">-->
<!--											<a class="d-block" href="{% url 'about-us' %}">About</a>-->
<!--										</li>-->
										<li class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}" class="nav-item">
											<a class="d-block" href="{% url 'home' %}">Home</a>
										</li>
										<li class="{% if request.resolver_match.url_name == 'blog' %}active{% endif %}" class="nav-item">
											<a class="d-block" href="{% url 'blog' %}">Blog</a>
										</li>
										<li class="nav-item">
											<a class="d-block" href="{% url 'home' %}#gallery">Gallery</a>
										</li>
<!--										<li class="nav-item dropdown">-->
<!--											<a class="dropdown-toggle d-block" role="button" data-toggle="dropdown" aria-haspopup="true" href="{% url 'blog' %}" aria-expanded="false">Blog</a>-->
<!--											<ul class="list-unstyled text-capitalize dropdown-menu mt-0 py-0">-->

<!--											</ul>-->
<!--										</li>-->
<!--										<li class="nav-item dropdown">-->
<!--											<a class="dropdown-toggle d-block" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages</a>-->
<!--											<ul class="list-unstyled text-capitalize dropdown-menu mt-0 py-0">-->
<!--												<li class="d-block mx-0"><a href="{% url 'cart-page' %}">Cart Page</a></li>-->
<!--											</ul>-->
<!--										</li>-->
										<li class="{% if request.resolver_match.url_name == 'about-us' %}active{% endif %}" class="nav-item">
											<a class="d-block" href="{% url 'about-us' %}">About us</a>
										</li>
									</ul>
								</div>
							</nav>
						</div>
						<!--/div-->
						<div class="row justify-content-center" style="padding:10px;">
							<ul class="list-unstyled followSocailNetwork d-flex flex-nowrap" class="ul li a:hover">
<!--								<li class="fwEbold mr-xl-11 mr-md-8 mr-3">Follow  us:</li>-->
								<li class="mr-xl-6 mr-md-5 mr-2"><a href="{% url 'potting_soil' %}"><img src="{% static 'images/potting.png' %}" width="25px" height="25px" data-toggle="tooltip" data-placement="bottom" title="Potting soil"></a></li>
								<li class="mr-xl-6 mr-md-5 mr-2"><a href="{% url 'plant_health' %}"><img src="{% static 'images/plant_health.png' %}" width="25px" height="25px" data-toggle="tooltip" data-placement="bottom" title="Plant Health"></a></li>
								<li class="mr-xl-6 mr-md-5 mr-2"><a href="{% url 'seeds' %}"><img src="{% static 'images/nseeds.png' %}" width="25px" height="25px" data-toggle="tooltip" data-placement="bottom" title="Seeds"></a></li>
								<li class="mr-xl-6 mr-md-5 mr-2"><a href="{% url 'accessories' %}"><img src="{% static 'images/naccessories.png' %}" width="25px" height="25px" data-toggle="tooltip" data-placement="bottom" title="Accessories"></a></li>
								<li class="mr-2"><a href="{% url 'services' %}"><img src="{% static 'images/nservices.png' %}" width="25px" height="25px" data-toggle="tooltip" data-placement="bottom" title="Services"></a></li>
							</ul>
						</div>

					</div>
					<div class="col-sm-3 col-lg-2">
						<!-- wishListII -->
						<ul class="nav nav-tabs wishListII pt-5 justify-content-end border-bottom-0">
							<li class="nav-item ml-0"><a class="nav-link icon-search" href="javascript:void(0);"></a></li>
							<li class="nav-item"><a class="nav-link position-relative icon-cart" href="{% url 'cart-page' %}";><span class="num rounded d-block">2</span></a></li>
							<li class="nav-item"><a class="nav-link icon-profile" href="/user/login"></a></li>
						</ul>
					</div>
			</div>

		</div>
		</header><br><br><br><br><br>

            {% block content %}
            {% endblock %}
	<!-- footerHolder -->
			<aside class="footerHolder overflow-hidden bg-lightGray pt-xl-23 pb-xl-8 pt-lg-10 pb-lg-8 pt-md-12 pb-md-8 pt-10" >
				<div class="container">
					<div class="row">
						<div class="col-12 col-sm-6 col-lg-4 mb-lg-0 mb-4">
							<h3 class="headingVI fwEbold text-uppercase mb-7">Contact Us</h3>
							<ul class="list-unstyled footerContactList mb-3">
								<li class="mb-3 d-flex flex-nowrap pr-xl-20 pr-0"><span class="icon icon-place mr-3"></span> <address class="fwEbold m-0">Address:
								Multiplex Urban Green India Pvt. Ltd.
								No.1, Techno Industrial Complex,
								Peenya Industrial Estate, Peenya 1st Stage, Bengaluru – 560058</address></li>
								<li class="mb-3 d-flex flex-nowrap"><span class="icon icon-phone mr-3"></span> <span class="leftAlign">Phone : <a href="javascript:void(0);">+91 9036999422,
								+91 8453084530</a></span></li>
								<li class="email d-flex flex-nowrap"><span class="icon icon-email mr-2"></span> <span class="leftAlign">Email:  <a href="javascript:void(0);">crm@multiplexurbangreen.com</a></span></li>
							</ul>
							<ul class="list-unstyled followSocailNetwork d-flex flex-nowrap" >
								<li class="fwEbold mr-xl-11 mr-md-8 mr-3">Follow  us:</li>
								<li class="mr-xl-6 mr-md-5 mr-2"><a href="https://www.facebook.com/MultiplexUrbanGreenIndia/;" class="fab fa-facebook-f" target="_blank"></a></li>
								<li class="mr-xl-6 mr-md-5 mr-2"><a href="https://www.twitter.com/UrbanGreenIndia/;" class="fab fa-twitter" target="_blank"></a></li>
								<li class="mr-xl-6 mr-md-5 mr-2"><a href="https://www.pinterest.com/UrbanGreenIndia/;" class="fab fa-pinterest" target="_blank"></a></li>
								<li class="mr-xl-6 mr-md-5 mr-2"><a href="https://www.youtube.com/channel/UC3oYd-JyEuJVFJJ0u2XADDw;" class="fab fa-youtube" target="_blank"></a></li>
								<li class="mr-2"><a href="https://www.instagram.com/multiplexurbangreenindia/;" class="fab fa-instagram" target="_blank"></a></li>
							</ul>
						</div>
						<div class="col-12 col-sm-6 col-lg-3 pl-xl-14 mb-lg-0 mb-4">
							<h3 class="headingVI fwEbold text-uppercase mb-6">Information</h3>
							<ul class="list-unstyled footerNavList">
								<li class="mb-1"><a href="{% url 'home' %}#new_arrival">New Products</a></li>
								<li class="mb-2"><a href="{% url 'home' %}#best_seller">Top Sellers</a></li>
								<li class="mb-2"><a href="{% url 'contact-us' %}">Contact-us</a></li>
								<li class="mb-2"><a href="{% url 'about-us' %}">About Our Shop</a></li>
								<li><a href="javascript:void(0);">Privacy policy</a></li>
							</ul>
						</div>
						<div class="col-12 col-sm-6 col-lg-3 pl-xl-12 mb-lg-0 mb-4">
							<h3 class="headingVI fwEbold text-uppercase mb-7">My Account</h3>
							<ul class="list-unstyled footerNavList">
								<li class="mb-1"><a href="/user/login">My account</a></li>
								<li class="mb-2"><a href="javascript:void(0);">Discount</a></li>
								<li class="mb-2"><a href="javascript:void(0);">FAQ's</a></li>
<!--								<li><a href="javascript:void(0);">Personal information</a></li>-->
							</ul>
						</div>
						<div class="col-12 col-sm-6 col-lg-2 pl-xl-18 mb-lg-0 mb-4">
							<h3 class="headingVI fwEbold text-uppercase mb-5">PRODUCTS</h3>
							<ul class="list-unstyled footerNavList">
								<li class="mb-2"><a href="javascript:void(0);">Delivery</a></li>
								<li class="mb-2"><a href="javascript:void(0);">Legal notice</a></li>
<!--								<li class="mb-2"><a href="javascript:void(0);">Prices drop</a></li>-->
<!--								<li class="mb-2"><a href="javascript:void(0);">New products</a></li>-->
								<li><a href="javascript:void(0);">Best sales</a></li>
							</ul>
						</div>
					</div>
				</div>
			</aside>
		</main>

		<!-- footer -->
		<footer id="footer" class="overflow-hidden bg-dark">
			<div class="container">
				<div class="row">
					<div class="col-12 copyRightHolder v-II text-center pt-md-3 pb-md-4 py-2">
						<p class="mb-0">Coppyright 2020 by <a href="javascript:void(0);">Urban Green Store</a> - All right reserved</p>
					</div>
				</div>
			</div>
		</footer>
	</div>
	<!-- include jQuery library -->
	<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
	<!-- include bootstrap popper JavaScript -->
	<script src="{% static 'js/popper.min.js' %}"></script>
	<!-- include bootstrap JavaScript -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- include custom JavaScript -->
	<script src="{% static 'js/jqueryCustome.js' %}"></script>
</body>
</html>