{% extends "base.html" %}

{% block content %}
{% load static %}
		<!-- main -->
		<main>
			<!-- bannerBlockHolder -->
			<section class="bannerBlockHolder position-relative">
				<div class="slick-fade">
					<div>
						<!-- align -->
						<div class="align w-100 d-flex align-items-center bgCover" style="background-image: url({% static 'images/bgpic.jpg' %} ); background-size: cover;">
							<div class="container position-relative holder pt-xl-10 margin">
								<div class="row" style="text-align:right; float:right;">
									<div class="col-12 col-xl-12">
										<div class="txtwrap pr-xl-4">
											<span><img src="{% static 'images/joy.png' %}" height="90px" width="400px" style="margin-left:40%;"></span>
											<h1 class="fwEbold position-relative mb-md-7 mb-sm-4">Houseplant <span class="text-break d-block">The Perfect Choice</span></h1>
											<h2 class="fwEbold position-relative mb-md-7 mb-sm-4">25% Off</h2>
											<h4>shop for 999 and avail this offer</h4>
											<a href="{% url 'shop' %}" class="btn btnTheme btnShop fwEbold text-white md-round py-3 px-4">Shop Now <i class="fas fa-arrow-right ml-2"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div>
						<!-- align -->
						<div class="align w-100 bgCover" style="background-image: url({% static 'images/seeds.png' %}); background-size: cover;">
							<div class="container position-relative holder pt-14">
								<!-- py-12 pt-lg-30 pb-lg-25 -->
								<div class="row">
									<div class="col-12 text-center">
										<div class="txtwrap pr-md-10">
											<h1 class="fwEbold position-relative mb-0">NUTRIENTS PLANTS</h1>
											<strong class="year d-block fwEbold mb-3">2019</strong>
											<span class="sub-title d-block text-uppercase mb-md-12 mb-6">OCCASSIONAL BOUQUET</span>
											<a href="{% url 'shop' %}" class="btn btnTheme btnShop fwEbold text-white md-round py-3 px-4">Shop Now <i class="fas fa-arrow-right ml-2"></i></a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="slickNavigatorsWrap">
					<a href="#" class="slick-prev"><i class="icon-leftarrow"></i></a>
					<a href="#" class="slick-next"><i class="icon-rightarrow"></i></a>
				</div>
			</section>
			<!-- contactListBlock -->
			<div class="contactListBlock container overflow-hidden pt-xl-24 pb-xl-12 pt-lg-20 pb-lg-10 pt-md-16 pb-md-4 pt-10 pb-1">
				<div class="row">
					<div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
						<!-- contactListColumn -->
						<div class="contactListColumn border bg-lightGray overflow-hidden py-xl-5 py-md-3 py-2 px-xl-6 px-md-3 px-3 d-flex">
							<span class="icon icon-van"></span>
							<div class="alignLeft pl-2">
								<strong class="headingV fwEbold d-block mb-1">Free shipping order</strong>
								<p class="m-0">On orders over  $100</p>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
						<!-- contactListColumn -->
						<div class="contactListColumn border bg-lightGray overflow-hidden py-xl-5 py-md-3 py-2 px-xl-6 px-md-3 px-3 d-flex">
							<span class="icon icon-gift"></span>
							<div class="alignLeft pl-2">
								<strong class="headingV fwEbold d-block mb-1">Special gift card</strong>
								<p class="m-0">The perfect gift idea</p>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
						<!-- contactListColumn -->
						<div class="contactListColumn border bg-lightGray overflow-hidden py-xl-5 py-md-3 py-2 px-xl-4 px-md-2 px-3 d-flex">
							<span class="icon icon-recycle"></span>
							<div class="alignLeft pl-2">
								<strong class="headingV fwEbold d-block mb-1">Return &amp; exchange</strong>
								<p class="m-0">Free return within 3 days</p>
							</div>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-lg-3 mb-4 mb-lg-0">
						<!-- contactListColumn -->
						<div class="contactListColumn border bg-lightGray overflow-hidden py-xl-5 py-md-3 py-2 px-xl-6 px-md-3 px-3 d-flex">
							<span class="icon icon-call"></span>
							<div class="alignLeft pl-2">
								<strong class="headingV fwEbold d-block mb-1">Support 24 / 7</strong>
								<p class="m-0">Customer support</p>
							</div>
						</div>
					</div>
				</div>
			</div>
<!--			<div class="container pt-xl-11 pb-xl-12 pt-lg-10 pb-lg-10 pt-md-8 pb-md-8 pt-5 pb-5">-->
<!--				<div class="row">-->
<!--					<div class="col-12">-->
<!--						&lt;!&ndash; quotationBlock &ndash;&gt;-->
<!--						<blockquote class="quotationBlock text-center d-block m-0">-->
<!--							<q class="d-block playfair mb-7">We ship healthy potted plants right to your doorstep. Each plant comes with simple care instructions from our plant experts.</q>-->
<!--							<cite class="d-block">-->
<!--								<img src="images/signature.png" alt="signature" class="img-fluid mb-6">-->
<!--								<span class="d-flex flex-nowrap align-items-center justify-content-center">-->
<!--									<strong class="fwEbold mr-1">Sarah Jefferson</strong>-->
<!--									<span class="text-uppercase fwEbold pt-1">- CEO</span>-->
<!--								</span>-->
<!--							</cite>-->
<!--						</blockquote>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
			<!-- featureSec -->
<!--			<section class="featureSec container overflow-hidden pt-xl-12 pb-xl-9 pt-lg-10 pb-lg-4 pt-md-8 pb-md-2 pt-5">-->
<!--				<div class="row" id="new_arrival">-->
<!--					&lt;!&ndash; mainHeader &ndash;&gt;-->
<!--					<header class="col-12 mainHeader mb-4 text-center " >-->
<!--						<h1 class="headingIV playfair fwEblod mb-4" >New Arrival</h1>-->
<!--						<span class="headerBorder d-block mb-5"><img src="{% static 'images/hbdr.png' %}" alt="Header Border" class="img-fluid img-bdr"></span>-->
<!--						<p>There are many variations of passages of lorem ipsum available </p>-->
<!--					</header>-->
<!--				</div>-->
<!--				<div class="row">-->
<!--					&lt;!&ndash; featureCol &ndash;&gt;-->
<!--					<div class="col-12 col-sm-6 col-lg-3 featureCol position-relative mb-6">-->
<!--						<div class="border">-->
<!--							<div class="imgHolder position-relative w-100 overflow-hidden">-->
<!--								<img src="http://placehold.it/270x300" alt="image description" class="img-fluid w-100">-->
<!--								<ul class="list-unstyled postHoverLinskList d-flex justify-content-center m-0">-->
<!--									<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-heart d-block"></a></li>-->
<!--									<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-cart d-block"></a></li>-->
<!--									<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-eye d-block"></a></li>-->
<!--									<li class="overflow-hidden"><a href="javascript:void(0);" class="icon-arrow d-block"></a></li>-->
<!--								</ul>-->
<!--							</div>-->
<!--							<div class="text-center py-xl-5 py-sm-4 py-2 px-xl-2 px-1">-->
<!--								<span class="title d-block mb-2"><a href="{% static 'shop-detail' %}">Sit voluptatem</a></span>-->
<!--								<span class="price d-block fwEbold">68.00 $</span>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--					&lt;!&ndash; featureCol &ndash;&gt;-->
<!--					<div class="col-12 col-sm-6 col-lg-3 featureCol mb-6">-->
<!--						<div class="border">-->
<!--							<div class="imgHolder position-relative w-100 overflow-hidden">-->
<!--								<img src="http://placehold.it/270x300" alt="image description" class="img-fluid w-100">-->
<!--								<ul class="list-unstyled postHoverLinskList d-flex justify-content-center m-0">-->
<!--									<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-heart d-block"></a></li>-->
<!--									<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-cart d-block"></a></li>-->
<!--									<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-eye d-block"></a></li>-->
<!--									<li class="overflow-hidden"><a href="javascript:void(0);" class="icon-arrow d-block"></a></li>-->
<!--								</ul>-->
<!--							</div>-->
<!--							<div class="text-center py-xl-5 py-sm-4 py-2 px-xl-2 px-1">-->
<!--								<span class="title d-block mb-2"><a href="{% static 'shop-detail' %}">Pellentesque aliquet</a></span>-->
<!--								<span class="price d-block fwEbold">58.00 $</span>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--					&lt;!&ndash; featureCol &ndash;&gt;-->
<!--					<div class="col-12 col-sm-6 col-lg-3 featureCol position-relative mb-6">-->
<!--						<div class="border">-->
<!--							<div class="imgHolder position-relative w-100 overflow-hidden">-->
<!--								<img src="http://placehold.it/270x300" alt="image description" class="img-fluid w-100">-->
<!--								<ul class="list-unstyled postHoverLinskList d-flex justify-content-center m-0">-->
<!--									<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-heart d-block"></a></li>-->
<!--									<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-cart d-block"></a></li>-->
<!--									<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-eye d-block"></a></li>-->
<!--									<li class="overflow-hidden"><a href="javascript:void(0);" class="icon-arrow d-block"></a></li>-->
<!--								</ul>-->
<!--							</div>-->
<!--							<div class="text-center py-xl-5 py-sm-4 py-2 px-xl-2 px-1">-->
<!--								<span class="title d-block mb-2"><a href="{% static 'shop-detail.html' %}">Pellentesque aliquet</a></span>-->
<!--								<span class="price d-block fwEbold">60.00 $</span>-->
<!--								<span class="hotOffer fwEbold text-uppercase text-white position-absolute d-block">Hot</span>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--					&lt;!&ndash; featureCol &ndash;&gt;-->
<!--					<div class="col-12 col-sm-6 col-lg-3 featureCol position-relative mb-6">-->
<!--						<div class="border">-->
<!--							<div class="imgHolder position-relative w-100 overflow-hidden">-->
<!--								<img src="http://placehold.it/270x300" alt="image description" class="img-fluid w-100">-->
<!--								<ul class="list-unstyled postHoverLinskList d-flex justify-content-center m-0">-->
<!--									<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-heart d-block"></a></li>-->
<!--									<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-cart d-block"></a></li>-->
<!--									<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-eye d-block"></a></li>-->
<!--									<li class="overflow-hidden"><a href="javascript:void(0);" class="icon-arrow d-block"></a></li>-->
<!--								</ul>-->
<!--							</div>-->
<!--							<div class="text-center py-xl-5 py-sm-4 py-2 px-xl-2 px-1">-->
<!--								<span class="title d-block mb-2"><a href="{% static 'shop-detail.html' %}">Pellentesque aliquet</a></span>-->
<!--								<span class="price d-block fwEbold"><del>80.50 $</del>65.00 $</span>-->
<!--								<span class="hotOffer green fwEbold text-uppercase text-white position-absolute d-block">Sale</span>-->
<!--							</div>-->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</section>-->

						<section class="dealSecHolder container-fluid overflow-hidden py-xl-12 py-lg-10 py-md-8 py-5">
							<div class="row" id="new_arrival">

				<!-- mainHeader -->
				<header class="col-12 mainHeader mb-7 text-center">
					<h1 class="headingIV playfair fwEblod mb-5">New Arrivals</h1>
					<span class="headerBorder d-block mb-md-5 mb-3"><img src="{% static 'images/hbdr.png' %}" alt="Header Border" class="img-fluid img-bdr"></span>
					<p class="mb-6">There are many variations of passages of lorem ipsum available.</p>
<!--					<div id="defaultCountdown" class="comming-timer"></div>-->
				</header>
				<!-- dealSlider -->

				<div class="dealSlider w-100 px-lg-10 px-md-5">
					{% static 'images' as baseURL %}
					{% for prod in ug_new_arrivals %}
					<div>
						<!-- featureCol -->
						<div class="featureCol position-relative w-100 px-3 mb-sm-8 mb-6">
							<div class="border">
								<div class="imgHolder position-relative w-100 overflow-hidden">
									<img src="{{ prod.image.url }}" alt="image description" class="img-fluid w-100">
									<ul class="list-unstyled postHoverLinskList d-flex justify-content-center m-0">
										<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-heart d-block"></a></li>
										<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-cart d-block"></a></li>
										<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-eye d-block"></a></li>
										<li class="overflow-hidden"><a href="javascript:void(0);" class="icon-arrow d-block"></a></li>
									</ul>
								</div>
								<div class="text-center py-5 px-2">
									<span class="title d-block mb-2"><a href="shop-detail.html">{{ prod.name }}</a></span>
									<span class="price d-block fwEbold"><del>499.00 &#8377</del>{{ prod.price }}</span>
<!--									<span class="hotOffer fwEbold text-uppercase text-white position-absolute d-block">HOT</span>-->
<!--									<span class="hotOffer green fwEbold text-uppercase text-white position-absolute d-block">Sale</span>-->
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			</section>

			<!-- partnerSec -->
			<!-- categorySecBlock -->
			<div class="row" id="gallery">
					<!-- mainHeader -->
					<header class="col-12 mainHeader mb-4 text-center " >
						<h1 class="headingIV playfair fwEblod mb-4" >Gallery</h1>
						<span class="headerBorder d-block mb-5"><img src="{% static 'images/hbdr.png' %}" alt="Header Border" class="img-fluid img-bdr"></span>
						<p>There are many variations of passages of lorem ipsum available </p>
					</header>
				</div>
			<div class="categorySecBlock overflow-hidden pt-xl-9 pb-xl-6 px-xl-17 px-0 pt-lg-10 pb-lg-4 pt-md-8 pb-md-2 pt-5">
				<!-- masonryHolder -->
				<div class="masonryHolder">
					<!-- grid-item -->
					<div class="grid-item mb-6 px-3">
						<div class="itemCol">
							<div class="position-relative">
								<img src="http://placehold.it/410x845" alt="image description" class="img-fluid w-100">
								<div class="hoverTextBlock position-absolute">
									<h2 class="headingIV playfair fwEbold mb-3"><a href="javascript:void(0);">Cactus Plant</a></h2>
									<span class="txt d-block">( 56 item )</span>
								</div>
							</div>
						</div>
					</div>
					<!-- grid-item -->
					<div class="grid-item mb-6 px-3">
						<div class="itemCol">
							<div class="position-relative">
								<img src="http://placehold.it/410x410" alt="image description" class="img-fluid w-100">
								<div class="hoverTextBlock position-absolute">
									<h2 class="headingIV playfair fwEbold mb-3"><a href="javascript:void(0);">Indoor Plant</a></h2>
									<span class="txt d-block">( 36 item )</span>
								</div>
							</div>
						</div>
					</div>
					<!-- grid-item -->
					<div class="grid-item grid-item2 mb-6 px-3">
						<div class="itemCol">
							<div class="position-relative">
								<img src="http://placehold.it/845x410" alt="image description" class="img-fluid w-100">
								<div class="hoverTextBlock position-absolute">
									<h2 class="headingIV playfair fwEbold mb-3"><a href="javascript:void(0);">Tropical Plant</a></h2>
									<span class="txt d-block">( 21 item )</span>
								</div>
							</div>
						</div>
					</div>
					<!-- grid-item -->
					<div class="grid-item grid-item2 mb-6 px-3">
						<div class="itemCol">
							<div class="position-relative">
								<img src="http://placehold.it/845x410" alt="image description" class="img-fluid w-100">
								<div class="hoverTextBlock position-absolute">
									<h2 class="headingIV playfair fwEbold mb-3"><a href="javascript:void(0);">Floor Plant</a></h2>
									<span class="txt d-block">( 18 item )</span>
								</div>
							</div>
						</div>
					</div>
					<!-- grid-item -->
					<div class="grid-item mb-6 px-3">
						<div class="itemCol">
							<div class="position-relative">
								<img src="http://placehold.it/410x410" alt="image description" class="img-fluid w-100">
								<div class="hoverTextBlock position-absolute">
									<h2 class="headingIV playfair fwEbold mb-3"><a href="javascript:void(0);">Table Plant</a></h2>
									<span class="txt d-block">( 36 item )</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- featureSec -->
			<section class="featureSec container overflow-hidden pt-xl-11 pb-xl-18 pt-lg-10 pb-lg-20 pt-md-8 pb-md-16 pt-5 pb-5">
				<div class="row">
					<!-- mainHeader -->
					<header class="col-12 mainHeader mb-4 text-center">
						<h1 class="headingIV playfair fwEblod mb-4" id="best_seller">Best seller</h1>
						<span class="headerBorder d-block mb-5"><img src="{% static 'images/hbdr.png' %}" alt="Header Border" class="img-fluid img-bdr"></span>
						<p>There are many variations of passages of lorem ipsum available </p>
					</header>
				</div>
				<div class="row">
					<!-- featureCol -->
					<div class="col-12 col-sm-6 col-lg-3 featureCol position-relative mb-6">
						<div class="border">
							<div class="imgHolder position-relative w-100 overflow-hidden">
								<img src="http://placehold.it/270x300" alt="image description" class="img-fluid w-100">
								<ul class="list-unstyled postHoverLinskList d-flex justify-content-center m-0">
									<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-heart d-block"></a></li>
									<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-cart d-block"></a></li>
									<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-eye d-block"></a></li>
									<li class="overflow-hidden"><a href="javascript:void(0);" class="icon-arrow d-block"></a></li>
								</ul>
							</div>
							<div class="text-center py-xl-5 py-sm-4 py-2 px-xl-2 px-1">
								<span class="title d-block mb-2"><a href="{% static 'shop-detail.html' %}">Pellentesque aliquet</a></span>
								<span class="price d-block fwEbold mb-1"><del>80.50 $</del> 68.00 $</span>
								<span class="hotOffer fwEbold text-uppercase text-white position-absolute d-block">HOT</span>
								<span class="hotOffer green fwEbold text-uppercase text-white position-absolute d-block">Sale</span>
							</div>
						</div>
					</div>
					<!-- featureCol -->
					<div class="col-12 col-sm-6 col-lg-3 featureCol mb-6">
						<div class="border">
							<div class="imgHolder position-relative w-100 overflow-hidden">
								<img src="http://placehold.it/270x300" alt="image description" class="img-fluid w-100">
								<ul class="list-unstyled postHoverLinskList d-flex justify-content-center m-0">
									<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-heart d-block"></a></li>
									<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-cart d-block"></a></li>
									<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-eye d-block"></a></li>
									<li class="overflow-hidden"><a href="javascript:void(0);" class="icon-arrow d-block"></a></li>
								</ul>
							</div>
							<div class="text-center py-xl-5 py-sm-4 py-2 px-xl-2 px-1">
								<span class="title d-block mb-2"><a href="shop-detail.html">Pellentesque aliquet</a></span>
								<span class="price d-block fwEbold mb-1">58.00 $</span>
							</div>
						</div>
					</div>
					<!-- featureCol -->
					<div class="col-12 col-sm-6 col-lg-3 featureCol position-relative mb-6">
						<div class="border">
							<div class="imgHolder position-relative w-100 overflow-hidden">
								<img src="http://placehold.it/270x300" alt="image description" class="img-fluid w-100">
								<ul class="list-unstyled postHoverLinskList d-flex justify-content-center m-0">
									<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-heart d-block"></a></li>
									<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-cart d-block"></a></li>
									<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-eye d-block"></a></li>
									<li class="overflow-hidden"><a href="javascript:void(0);" class="icon-arrow d-block"></a></li>
								</ul>
							</div>
							<div class="text-center py-xl-5 py-sm-4 py-2 px-xl-2 px-1">
								<span class="title d-block mb-2"><a href="{% static 'shop-detail.html'%}">Pellentesque aliquet</a></span>
								<span class="price d-block fwEbold mb-1">60.00 $</span>
								<span class="hotOffer fwEbold text-uppercase text-white position-absolute d-block">Hot</span>
							</div>
						</div>
					</div>
					<!-- featureCol -->
					<div class="col-12 col-sm-6 col-lg-3 featureCol position-relative mb-6">
						<div class="border">
							<div class="imgHolder position-relative w-100 overflow-hidden">
								<img src="http://placehold.it/270x300" alt="image description" class="img-fluid w-100">
								<ul class="list-unstyled postHoverLinskList d-flex justify-content-center m-0">
									<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-heart d-block"></a></li>
									<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-cart d-block"></a></li>
									<li class="mr-2 overflow-hidden"><a href="javascript:void(0);" class="icon-eye d-block"></a></li>
									<li class="overflow-hidden"><a href="javascript:void(0);" class="icon-arrow d-block"></a></li>
								</ul>
							</div>
							<div class="text-center py-xl-5 py-sm-4 py-2 px-xl-2 px-1">
								<span class="title d-block mb-2"><a href="{% static 'shop-detail.html' %}">Pellentesque aliquet</a></span>
								<span class="price d-block fwEbold mb-1"><del>80.50 $</del>65.00 $</span>
								<span class="hotOffer green fwEbold text-uppercase text-white position-absolute d-block">Sale</span>
							</div>
						</div>
					</div>
				</div>
			</section>
			<div class="container-fluid px-xl-20 px-lg-10">
				<!-- testimonailBlock -->
				<section class="testimonailBlock bgCover py-xl-24 py-lg-20 py-md-16 py-10" style="background-image: url(http://placehold.it/1720x560)">
					<header class="col-12 mainHeader mb-9 text-center">
						<h1 class="headingIV playfair fwEblod">What Clients say</h1>
					</header>
					<div class="container">
						<!-- testimonailSlider -->
						<div class="testimonailSlider overflow-hidden">
							<div>
								<div class="slide text-center mb-7">
									<span class="icon-qoute mb-2 d-block"></span>
									<p class="mb-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com- modo consequat. </p>
									<strong class="title d-block fwEbold mb-1">Sarah Jefferson</strong>
									<span class="desination">BTV - Designer</span>
								</div>
							</div>
							<div>
								<div class="slide text-center mb-7">
									<span class="icon-qoute mb-2 d-block"></span>
									<p class="mb-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com- modo consequat. </p>
									<strong class="title d-block fwEbold mb-1">Sarah Jefferson</strong>
									<span class="desination">BTV - Designer</span>
								</div>
							</div>
							<div>
								<div class="slide text-center mb-7">
									<span class="icon-qoute mb-2 d-block"></span>
									<p class="mb-7">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea com- modo consequat. </p>
									<strong class="title d-block fwEbold mb-1">Sarah Jefferson</strong>
									<span class="desination">BTV - Designer</span>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<!-- latestSec -->
			<section class="latestSec container overflow-hidden pt-xl-23 pb-xl-17 pt-lg-20 pb-lg-4 pt-md-16 pb-md-2 pt-10">
				<div class="row">
					<!-- mainHeader -->
					<header class="col-12 mainHeader mb-4 text-center">
						<h1 class="headingIV playfair fwEblod mb-4">Latest News</h1>
						<span class="headerBorder d-block mb-5"><img src="{% static 'images/hbdr.png' %} " alt="Header Border" class="img-fluid img-bdr"></span>
						<p>There are many variations of passages of lorem ipsum available </p>
					</header>
				</div>
				<div class="row">
					<div class="col-12 col-sm-6 col-lg-4">
						<!-- newsPostColumn -->
						<div class="newsPostColumn text-center px-2 pb-6 mb-6">
							<div class="imgHolder position-relative mb-6">
								<a href="blog-detail.html">
									<img src="http://placehold.it/370x250" alt="image description" class="img-fluid w-100">
									<time class="time text-uppercase position-absolute py-2 px-1" datetime="2019-02-03 20:00"> <strong class="fwEbold d-block">20</strong> Sep</time>
								</a>
							</div>
							<span class="postBy d-block mb-3">Post by: <a href="{% static 'blog-detail.html' %}">Jane doe</a></span>
							<h2 class="headingV fwEbold mb-2"><a href="{% static 'blog-detail.html' %}">Aptent taciti soci litora cianpen</a></h2>
							<p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...</p>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-lg-4">
						<!-- newsPostColumn -->
						<div class="newsPostColumn text-center px-2 pb-6 mb-6">
							<div class="imgHolder position-relative mb-6">
								<a href="blog-detail.html">
									<img src="http://placehold.it/370x250" alt="image description" class="img-fluid w-100">
									<time class="time text-uppercase position-absolute py-2 px-1" datetime="2019-02-03 20:00"> <strong class="fwEbold d-block">18</strong> Sep</time>
								</a>
							</div>
							<span class="postBy d-block mb-3">Post by: <a href="{% static 'blog-detail.html' %} ">Jane doe</a></span>
							<h2 class="headingV fwEbold mb-2"><a href="{% static 'blog-detail.html' %}">Aptent taciti soci litora cianpen</a></h2>
							<p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...</p>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-lg-4">
						<!-- newsPostColumn -->
						<div class="newsPostColumn text-center px-2 pb-6 mb-6">
							<div class="imgHolder position-relative mb-6">
								<a href="{% static 'blog-detail.html' %}">
									<img src="http://placehold.it/370x250" alt="image description" class="img-fluid w-100">
									<time class="time text-uppercase position-absolute py-2 px-1" datetime="2019-02-03 20:00"> <strong class="fwEbold d-block">21</strong> Sep</time>
								</a>
							</div>
							<span class="postBy d-block mb-3">Post by: <a href="blog-detail.html">Jane doe</a></span>
							<h2 class="headingV fwEbold mb-2"><a href="blog-detail.html">Aptent taciti soci litora cianpen</a></h2>
							<p class="mb-0">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...</p>
						</div>
					</div>
				</div>
			</section>

			{% endblock %}